# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/
*.env

# Django stuff:
db.sqlite3
media/
staticfiles/
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Git merge files
*.orig

# Migrations (оставляем только __init__.py)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.py[cod]
*/migrations/*.py
!*/migrations/__init__.py